.itemt1-1 {
  float: left !important;
  width: calc((200% + 5px * -1.25) / 3) !important;
  padding-top: calc(((200% + 5px * -1.25) / 3) * 1.33333) !important;
}

.itemt1-2 {
  float: right !important;
  width: calc(100% - ((200% + 5px * -1.25) / 3) - 5px) !important;
  padding-top: calc((100% - ((200% + 5px * -1.25) / 3) - 5px) * 1.33333) !important;
}

.itemt1-3 {
  float: right !important;
  width: calc(100% - ((200% + 5px * -1.25) / 3) - 5px) !important;
  padding-top: calc((100% - ((200% + 5px * -1.25) / 3) - 5px) * 1.33333) !important;
}

.itemt2-1 {
  float: left !important;
  width: calc((200% + 5px * -1.25) / 3) !important;
  padding-top: calc(((200% + 5px * -1.25) / 3) * 1.33333) !important;
}

.itemt2-2 {
  float: right !important;
  width: calc(100% - ((200% + 5px * -1.25) / 3) - 5px) !important;
  padding-top: calc((100% - ((200% + 5px * -1.25) / 3) - 5px) * 1.33333) !important;
}

.itemt2-3 {
  float: right !important;
  width: calc(100% - ((200% + 5px * -1.25) / 3) - 5px) !important;
  padding-top: calc((100% - ((200% + 5px * -1.25) / 3) - 5px) * 1.33333) !important;
}

.itemt3 {
  float: left !important;
  width: 100% !important;
  padding-top: calc(((200% + 5px * -1.25) / 3) * 1.33333) !important;
}

.itemt1-2 .item-title .name,
.itemt1-2 .item-link .item-title .name,
.itemt1-3 .item-title .name,
.itemt1-3 .item-link .item-title .name {
    font-size: 20px !important;
}

.itemt1-1 .item-title .name,
.itemt1-1 .item-link .item-title .name,
.itemt3 .item-title .name,
.itemt3 .item-link .item-title .name {
    font-size: 32px !important;
}

.az-header {
  display: none;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
}
.az-header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 900;
  height: 64px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;

  min-width: 100%;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .az-header {
    display: flex;
  }
  .az-header-content {
    min-width: 950px;
    max-width: 950px;
  }
}

@media (min-width: 1280px){
  .az-header-content {
    min-width: 1190px;
    max-width: 1190px;
  }
}


.event_small_layout .item {
    margin-right: 5px !important;
    width: calc((100% - 10px) / 2) !important;
    padding-top: calc(((100% - 10px) / 2) * 1.33333) !important;
}

@media (min-width: 1024px) {
  .event_small_layout .item:nth-child(3n) {
    margin-right: 0px !important;
  }
  .event_small_layout .item {
    width: calc((100% - 10px) / 3) !important;
    padding-top: calc(((100% - 10px) / 3) * 1.33333) !important;
  }
}


/* ============================ */

*, *::before, *::after {
  box-sizing: border-box;
}

.augurio-collapse .title-box, .augurio-collapse .contents-box {
  border-bottom: 1px solid #CCC;
}
.augurio-collapse .title-box, .augurio-collapse .contents {
  padding: 12px;
}
.augurio-collapse .title-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.augurio-collapse .title-box .title, .augurio-collapse .title-box .icons {
  pointer-events: none;
}
.augurio-collapse .title-box.active .icons span:first-of-type {
  transform: rotate(180deg);
}
.augurio-collapse .title-box.active .icons span:last-of-type {
  transform: rotate(0) translateY(-2px);
}
.augurio-collapse .icons {
  position: absolute;
  right: 12px;
}
.augurio-collapse .icons span {
  display: block;
  width: 12px;
  height: 2px;
  background-color: #000;
  transition: transform 0.2s ease;
}
.augurio-collapse .icons span:last-of-type {
  transform: rotate(90deg) translateX(-2px);
}
.augurio-collapse .contents-box {
  overflow: hidden;
  border-top: none;
  border-bottom: none;
  transition: height 0.3s ease;
}
.augurio-collapse .collapse:last-of-type .contents-box {
  /* border-bottom: 1px solid #CCC; */
  margin-bottom: 10px;
}

.collapse {
  display: block !important;
}
